/* App styles */
.app {
  min-height: 100vh; /* Ensure container takes up full viewport height */
  transition: background-color 0.3s ease;
  overflow-x: hidden; 
}

.light {
  background-color: #ffffff; /* Light mode background color */
  color: #000000; /* Light mode text color */
}

.dark {
  background-color: #1a1a1a; /* Dark mode background color */
  color: #ffffff; /* Dark mode text color */
}

/* Additional styles for specific components */
.text-form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 0px;
}
